.card-label-container {
  position: absolute;
  bottom: 5.625rem;
  right: 0;
}

.card-label-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  color: #fff;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 2.5rem;
  padding: 0 3.125rem;
}
